{% extends 'core/base.html' %}
{% block title %} Contacto{% endblock title %}

{% block background %}
{% load static %}
{% static 'core/img/tele.jpg' %}
{% endblock %}

{% block headers %} 
    <h1>Contacto</h1>
    <span class="subheading"><b>Duda o sugerencia</b></span>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>En caso de duda o de sugerencia respecto a la página abajo quedan mis datos, ya sea para corregir algún error o pedir ayuda, si está en mis manos lo haré,</p>
          <p>una de mis metas es aprender y ser mejor con esfuerzo y practica.</p>
          <br>
          <p><b>Para mayor información:</b> <a href="Nya:rzambrano5067@utm.edu.ec">rzambrano5067@utm.edu.ec</a></p>
          <p><b>Número de teléfono:</b><a herf="0985644617"> 0985644617</a></p>

        </div>
      </div>
    </div>
{% endblock %}